* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  padding: 0 103px;
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
}

section {
  width: 720px;
  background-color: #bfbfbf;
  text-align: center;
  border-radius: 25px;
  position: relative;
}

section:not(#column-right > section:last-child) {
  height: 270px;
}

#column-right > section:last-child {
  height: 520px;
}

h2 {
  margin: 0;
  padding-top: 30px;
}

/* --- EXERCICE 1 : CARRÉ QUI TOURNE --- */

#square {
  margin: 50px auto 0;
  width: 100px;
  height: 100px;
  background-color: red;
  animation: rotation 4s infinite linear alternate;
}

@keyframes rotation {
  to {
    transform: rotate(720deg);
    background-color: yellow;
  }
}

/* --- EXERCICE 2 : BALLE QUI REBONDIT --- */

#ball {
  border: 1px solid green;
  height: 152px;
  width: 22px;
  margin: 20px auto;
}

#ball > div {
  height: 20px;
  width: 20px;
  background-color: green;
  border-radius: 50%;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(90px);
  }
  80% {
    transform: translateY(110px);
  }
  20%, 60%, 100% {
    transform: translateY(130px);
  }
}

/* --- EXERCICE 3 : LODAER --- */

#loader {
  margin-top: 20px;
  display: flex;
  gap: 4px;
  justify-content: center;
}

#loader > div {
  height: 92px;
  width: 92px;
  border-radius: 50%;
  border: 1px solid black;
  animation: loader 3s infinite linear;
}

#loader > div:nth-child(2) {
  animation-delay: 1s;
}

#loader > div:nth-child(3) {
  animation-delay: 2s;
}

@keyframes loader {
  from {
    background-color: #fff;
  }
  to {
    background-color: #000;
  }
}

/* --- EXERCICE 4 : FAIRE LA QUEUE --- */

#queue > div {
  background-color: lightsalmon;
  position: absolute;
  top: 10px;
  left: 12px;
  width: 20px;
  height: 20px;
  border: 1px solid gray;
  border-radius: 5px;
}

#queue > div:nth-child(1) {
  animation: queue 10s infinite linear;
}

#queue > div:nth-child(2) {
  animation: queue 10s infinite linear 1s;
}

#queue > div:nth-child(3) {
  animation: queue 10s infinite linear 2s;
}

#queue > div:nth-child(4) {
  animation: queue 10s infinite linear 3s;
}

#queue > div:nth-child(5) {
  animation: queue 10s infinite linear 4s;
}

#queue > div:nth-child(6) {
  animation: queue 10s infinite linear 5s;
}

@keyframes queue {
  20% {
    transform: translate(676px) rotate(360deg);
    background-color: lightgreen;
  }
  70% {
    transform: translate(676px, 230px) rotate(720deg);
    background-color: lightcoral;
  }
  80% {
    transform: translateY(230px) rotate(1080deg);
    background-color: lightblue;
  }
  100% {
  rotate(1440deg);
    background-color: lightsalmon;
  }
}

/* --- EXERCICE 5 : ANIMATION 3D --- */

#carousel {
  position: relative;
  width: 150px;
  height: 20px;
  top: 84px;
  left: 40px;
  animation: carousel 10s infinite linear;
  transform-style: preserve-3d;
}

@keyframes carousel {
  25% {
    transform: translateX(490px) rotateY(90deg) rotateX(90deg);
  }
  50% {
    transform: translate(490px, 264px) rotateY(180deg) rotateX(180deg);
  }
  75% {
    transform: translateY(264px) rotateY(270deg) rotateX(270deg);
  }
  100% {
  rotateY(360deg) rotateX(360deg);
  }
}

#carousel > div {
  position: absolute;
  left: 65px;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

#carousel > div:nth-child(1) {
  background-color: lightsalmon;
  transform: rotateY(0deg) translateZ(75px);
}

#carousel > div:nth-child(2) {
  background-color: lightgreen;
  transform: rotateY(40deg) translateZ(75px);
}

#carousel > div:nth-child(3) {
  background-color: lightcoral;
  transform: rotateY(80deg) translateZ(75px);
}

#carousel > div:nth-child(4) {
  background-color: lightblue;
  transform: rotateY(120deg) translateZ(75px);
}

#carousel > div:nth-child(5) {
  background-color: lightcyan;
  transform: rotateY(160deg) translateZ(75px);
}

#carousel > div:nth-child(6) {
  background-color: lightyellow;
  transform: rotateY(200deg) translateZ(75px);
}

#carousel > div:nth-child(7) {
  background-color: lightgray;
  transform: rotateY(240deg) translateZ(75px);
}

#carousel > div:nth-child(8) {
  background-color: lightpink;
  transform: rotateY(280deg) translateZ(75px);
}

#carousel > div:nth-child(9) {
  background-color: lightseagreen;
  transform: rotateY(320deg) translateZ(75px);
}

/* --- EXERCICE 6 : MENU --- */

#menu {
  position: fixed;
  top: 8px;
  left: 8px;
  width: 85px;
  height: 25px;
  background-color: #000;
  border-radius: 25px;
  transition: height 2s ease;
}

#menu:hover {
  height: 886px;
}

#menu > p {
  color: #fff;
  margin-top: 3px;
  text-align: center;
}
