* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  padding: 0 103px;
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
}

section {
  width: 720px;
  background-color: #bfbfbf;
  text-align: center;
  border-radius: 25px;
  position: relative;
}

section:not(#column-right > section:last-child) {
  height: 270px;
}

#column-right > section:last-child {
  height: 520px;
}

h2 {
  margin: 0;
  padding-top: 30px;
}

/* --- EXERCICE 1 : CARRÉ QUI TOURNE --- */

#square {
  margin: 50px auto 0;
  width: 100px;
  height: 100px;
  background-color: red;
  animation: rotation 4s infinite linear alternate;
}

@keyframes rotation {
  to {
    transform: rotate(720deg);
    background-color: yellow;
  }
}

/* --- EXERCICE 2 : BALLE QUI REBONDIT --- */

#ball {
  border: 1px solid green;
  height: 152px;
  width: 22px;
  margin: 20px auto;
}

#ball > div {
  height: 20px;
  width: 20px;
  background-color: green;
  border-radius: 50%;
  animation: bounce 2s infinite;

}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(90px);
  }
  80% {
    transform: translateY(110px);
  }
  20%, 60%, 100% {
    transform: translateY(130px);
  }
}

#menu {
  position: fixed;
  top: 8px;
  left: 8px;
  width: 85px;
  height: 25px;
  background-color: #000;
  border-radius: 25px;
}

#menu > p {
  color: #fff;
  margin-top: 3px;
  text-align: center;
}
